<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Title Here{% endblock %}</title>
    <link rel="stylesheet" href="/css.css">
    <link rel="stylesheet" href="/supplemental_css.css">
  </head>

  <body>
    <div id ="header">
        {% block header %}
        {% endblock %}
    </div>
    <div id ="body">
        {% block body %}
        {% endblock %}
    </div>
    <div id ="footer">
        {% block footer %}
        {% endblock %}
    </div>
    <script src="javascript.js"></script>
    <script src="supplemental_javascript.js"></script>
  </body>
</html>
